Chapter 2. Constructors, Destructors, and Assignment Operators/Item 8 Prevent exceptions from leaving destructors/item8
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 10 Have assignment operators return a reference to *this/item10
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 7 Declare destructors virtual in polymorphic base classes/item7
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 9 Never call virtual functions during construction or destruction/item9
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 12 Copy all parts of an object/item12
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 11 Handle assignment to self in operator=/core
Chapter 2. Constructors, Destructors, and Assignment Operators/Item 11 Handle assignment to self in operator=/item11
